body{
    color: #868e96;
    font-family: 'Open Sans', opensanshebrew, serif;
}

.all_res{
    position: absolute;
    left: 270px;
    top: 60px;
    font-family: 'Bungee Inline', cursive;
}

.list-social-icons{
line-height: 200px;
}
.social-icons:hover{
border:5px solid #BD5D38;
border-radius: 50px;
}