h1{
    font-size: 60px;
    color: black;
    display: inline;
}
h2{
   font-size: 30px;
   color: black;
}
p1{
    text-align: right;
    display: inline;
    line-height: 28px;
}
b{color: #BD5D38;}
.mailto{ font-family: 'Bungee Inline', cursive;font-size: 18px;}
i{
    color:lightgrey;
    margin-left: 10px;
    padding: 5px;
}
i:hover{color:#BD5D38;}