.imgMy{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    position: relative;
    top: -7px;
    left: -10px;
    border: 5px solid rgba(221, 136, 103, 0.829);
    margin-left:auto;
}
.list-icons-skills{
    margin-left: 7px;
}

